 /*     comics-and-fiction      */
 .comics-and-fiction, .comics-and-fiction-article {
    .hero-overlay {
      img {
        width: 100%;
        max-height: 375px;
        object-fit: cover;
        object-position: 0% 10%;
      }
      height: 375px !important;
    }
    .hero {
      position: relative;
      padding-top: 90px;
      padding-bottom: 0px;
      //top: -70px;
      background:url("https://images.unsplash.com/photo-1585881728919-5c0ce925ad10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
      background-size: cover;
      height:375px;
    }
  }

.comics-and-fiction-article {
  .container {
    margin-top: -50px;
    background:#fff;
    position:relative;
    max-width:1020px;
  }
  .page-content {
    margin: 15px 50px 50px 50px;
  }

  img {
      max-width: 100%;
      height: auto;
	  margin-top: -75px;
	  max-width: 100%;
	  object-fit: cover;
	  width: 100%;
  }
}  

.comics-and-fiction header.masthead,
.comics-and-fiction-article header.masthead {
/* 	min-height: 25rem!important;
	max-height: 25rem; */
}

//ios display caption fix
.comics-and-fiction-article {
	p:has(img) {
		display: flex;
	}
  }

  
    /*     art      */
    .comics-and-fiction, .comics-and-fiction-article {
      .hero-overlay {
        img {
          width: 100%;
          max-height: 375px;
          object-fit: cover;
          object-position: 0% 10%;
        }
        height: 375px !important;
      }
      .hero {
        position: relative;
        padding-top: 90px;
        padding-bottom: 0px;
        //top: -70px;
        background:url("https://images.unsplash.com/photo-1585881728919-5c0ce925ad10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
        height:375px;
      }
    }
  
  .comics-and-fiction-article {
    .container {
      margin-top: -50px;
      background:#fff;
      position:relative;
      max-width:1020px;
    }
    .page-content {
      margin: 15px 50px 50px 50px;
    }
  
    img {
        max-width: 100%;
        height: auto;
      margin-top: -75px;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
    }
  }  
  
  .comics-and-fiction header.masthead,
  .comics-and-fiction-article header.masthead {
  /* 	min-height: 25rem!important;
    max-height: 25rem; */
  }
  
  
.comics-and-fiction header h1 {
	width:100%;
 	position: absolute;
 	left: 0;
 	right: 0;
  	top: 150px;
  	margin: auto;
}

/* .comics-and-fiction-article header h1 {
	width:100%;
 	position: absolute;
 	left: 0;
 	right: 0;
  	top: -145px;
  	margin: auto;
	font-size: 2.25rem!important;
} */

.comics-and-fiction-article img {
  padding-top:80px;
}


.comics-and-fiction {
  article#card:focus,
  article#card:hover,
  article#card:active {
     box-shadow: rgb(136 165 191 / 48%) 0px 2px 16px 0px, rgb(255 255 255 / 80%) 0px -2px 0px 0px;
     padding:10px;
   }
   
   article#card {
    padding:10px;
  }
  }

  
.comics-and-fiction-article .page-tile {
  margin-top:-100px!important;
}


/* @media (min-width: 993px) {
  .comics-and-fiction-article .hero-img {
      height:100vh;
  }
}
*/


@media (max-width: 992px) {



	.comics-and-fiction-article .hero-img {
		background-size: cover!important;
		height:350px;
		margin-top: 45px;
		background-position: center!important;
		}
		
	.comics-and-fiction-article header.masthead {
		padding-bottom: 0;
		height: 100%!important;
		max-height: 350px!important;
}
	}

  
	.comics-and-fiction-article header h1, 
	.comics-and-fiction-article header .h1 {
		font-size: 1.75rem !important
	}
	
	.comics-and-fiction-article .hero-img {
		background-position:center;
		}
	
	.comics-and-fiction-article header.masthead {
		padding-bottom: 0;
		height: 400px;
		max-height: 400px;
	}

  @media (min-width: 993px) {
		.comics-and-fiction-article .hero-img {
			position: fixed;
			max-height: 400px;
			}

			.comics-and-fiction-article .navbar-shrink + main .hero-img  {
			   margin-top:100px;
				transform: scale(1);
			}
			
			.comics-and-fiction-article .hero-img  {
			   margin-top:0px;
				transform: scale(1);
				transition: all 800ms;
				}
			}

      //ios display caption fix
  .comics-and-fiction-article {
	p:has(img) {
		display: flex;
	}
  img + em {
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    background: rgba(0,0,0,.2);
    padding: 5px 15px 10px 15px;
    margin: 5px 25px 0px 25px;
	backdrop-filter: blur(10px);
    }
  }

  .comics-and-fiction .card .card-img-top {
    height: 430px;
    object-fit: contain;
}

@media only screen and (max-width: 991px) {
  .comics-and-fiction .card .card-img-top {
      height: inherit;
      object-fit: contain;
  }
  }

.comics-and-fiction .card {
    max-width: 750px!important;
}

p > img {
  width:inherit!important;
}

.card a {
    color: #0d6efd; 
    text-decoration: underline;
}