@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

 body {
     background-color: #d0d0d0;
     margin: -1px;
     font-family: 'Figtree', sans-serif;
}
 .wrapper {
     width: 100%;
     height: 100vh;
     overflow-y: scroll;
     scroll-snap-type: y mandatory;
     -ms-overflow-style: none;
    /* Internet Explorer 10+ */
     scrollbar-width: none;
    /* Firefox */
     scroll-behavior: smooth;
}
 .wrapper::-webkit-scrollbar {
     display: none;
    /* Safari and Chrome */
}

html, body, .wrapper {
    width: auto!important; 
    overflow-x: hidden
} 

 .page {
     width: 100%;
     height: 100vh;
     color: white;
     text-align: center;
     font-size: 72px;
     text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
     scroll-snap-align: start;
     margin: 1px;
}
 .fadein {
     width: 100%;
     height: 100vh;
}
 .page img {
     width: 100%;
     height: 100vh;
     object-fit: contain;
}
 .fadein img {
     /* transform: rotateY(15deg); */
     opacity: 0;
     transition-property: transform, opacity;
     transition-duration: 1s;
     transition-timing-function:ease-out;
}
 .in-view img {
     transform: none;
     opacity: 1;
}
.hero {
    z-index: 1000;
    position: relative;
    background: black;
}
 .hero img {
     width: 100%;
     height: 150px;
     animation: fadeInAnimation ease 4s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
}
 @keyframes fadeInAnimation {
     0% {
         opacity: 0;
    }
     100% {
         opacity: 1;
    }
}
 .hero h1 {
     font-size: 0;
}
 .hero h2 {
     font-size: 1.5rem;
     letter-spacing: .25rem;
}
 .hero h3 {
     font-size: 1rem;
     letter-spacing: .25rem;
     animation: fadeInAnimation ease 5s;
     opacity:0;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
     animation-delay: 7s;
}
 .content {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
}
 .inner {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100vh;
}
 .hero .links, p {
     font-size: 1.25rem;
}
 .hero .down {
     font-size: 2rem;
     margin-top: -150px;
     bottom: 0;
     position: relative;
     animation: fadeInAnimation ease 5s;
     opacity:0;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
     animation-delay: 9s;
}
 .down p {
     font-size: 0.5em;
     letter-spacing: .25rem;
     padding: 0;
     margin-top: 20px;
     margin-bottom: 0px;
}
 .content a {
     color:inherit 
}
 .content a:hover {
     text-decoration:dotted;
}
.page:nth-child(2) {
background-image: url(/assets/images/Solace_cover1.webp);
background-attachment: fixed;
background-size: contain;
}

.page:nth-child(2):before {
    content:" ";
    width: 100%;
    height: 100vw;
    /* display:flex; */
    z-index:1;
    background-image: url("/assets/images/Solace_cover2.webp");
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    transform: rotate(-5deg);
    top: -75px;
    background-size: contain;
    max-width: 670px;
    left: 30px;
}


.page:nth-child(2):after {
    content:" ";
    width: 100%;
    height: 100vw;
    display:flex;
    z-index:1;
    background-image: url("/assets/images/Solace_cover2.webp");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    transform: rotate(5deg);
    top: -40px;
    background-size: contain;
    max-width: 670px;
    right: 30px;
}

.fadein img {
  z-index:10;
  position: relative;
}

/*
.page:has(#about) {
    z-index:200;
    position: relative;
    background: black;
    text-align:left;
    height: unset;
}

.fadein:has(.about) {
   height: unset;
}

#about {
    padding:20px 300px 0 300px;
}

.page:has(#about) h2
{
    font-size:2rem;
}

.page:has(#about) h3
{
    font-size:1.5rem;
}
/* about the authors 
#andy {
    display: flex;
    flex-direction: row-reverse;
}

#andy h3{
    display: flex;
}

#andy-corrigan + p {
    display: flex;
} */

/* about page */
.page:has(#about) {
    z-index:200;
    position: relative;
    background: black;
    text-align:left;
    height: unset;
    scroll-snap-align:none;
}

.fadein:has(.about) {
   height: unset;
}


#about {
    padding:20px 20px 0 20px;
    max-width:1000px;
    margin: auto;
}

@media (max-width: 767px) {
    #cardimage {
      display:block!important;
    }
  
    #cardimage img{
      max-width:150px;
    }
      #creators {
          display:block!important;
      }
      #cardbody {
          display:block!important;
      }
  }


.page:has(#about) h2
{
    font-size:2rem;
}

.page:has(#about) h3
{
    font-size:1.5rem;
}

#card {
  display: flex;
  flex: 25%;
}

#cardimage {
  display: flex;
}

#cardimage img {
    display: block;
    height: 100%;
    width: 200px;
    padding-right: 10px;
}

#cardbody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#cardbody h3{
margin-bottom:0!important;
}
#creators {
    display: flex;
}

.wrapper:has(#about) {
    background:#000;
  }

  @media only screen and (max-width: 1200px) {
    .page:nth-child(2):before {
          content: " ";
      width: 100%;
      height: 100vh;
      display: flex;
      z-index: 1;
      background-image: url(/assets/images/Solace_cover1.webp);
      background-position: left top;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: fixed;
      transform: rotate(0deg);
      top: 0px;
      background-size: cover;
      max-width: initial;;
      left: 0px;
      }
        .page:nth-child(2):after {
      background-image: none;
      }
.page:nth-child(2) {
    background-image: none;
}  
  }