---
layout: default
---


<!-- 
  <section class="page hero">
    <div class="hero-inner">
        <h1>Solace<img src="/assets/images/" loading="lazy"></h1>
      <div class="hero-content">
        <h2 class="typing"></h2>
        <h3>Words by Andy Corrigan and art by Ceren Gunes</h2>
       <p>Download for free</p>
        <div class="links">
          <i class="fa-solid fa-book-open"></i>
          <i class="fa-regular fa-file-pdf"></i>
          <i class="fa-regular fa-file"></i>
        </div> -->

   <!--    </div>    

    </div> -->
    <div class="down">
      <i class="fa-solid fa-angle-down fa-bounce"></i>
  </div> 
<!-- </section> -->


 {{ content }}

 <!--end wrapper-->

                