---
layout: default
---

<section class="page hero">
  <div class="inner">
      <h1>Solace<img src="/images/Solace-logo-p-500.webp" loading="lazy"></h1>
    <div class="content">
      <h2 id="typing"></h2>
      <h3>Words by <a href="https://www.flameroasttoast.com" target="_blank">Andy Corrigan</a> and art by <a href="https://www.cerengunes.com/" target="_blank">Ceren Gunes</a></h3>
<!--         <p>Download for free</p>
      <div class="links">
        <i class="fa-solid fa-book-open"></i>
        <i class="fa-regular fa-file-pdf"></i>
        <i class="fa-regular fa-file"></i>
      </div> -->

    </div>   

  </div>
  <div class="down">
    <p>Scroll to read!</p>
    <i class="fa-solid fa-angle-down fa-bounce"></i>
</div> 
</section>
<!-- </section> -->


 {{ content }}

 <!--end wrapper-->

                