---
layout: default
---

<section class="page hero">
  <div class="inner">
      <h1>Solace<img src="/images/Solace-logo-p-500.webp" alt="logo" loading="lazy"></h1>
    <div class="content">
      <h2 id="typing"></h2>
      <h3>Words by <a href="https://www.flameroasttoast.com" target="_blank">Andy Corrigan</a> and art by <a href="https://www.cerengunes.com/" target="_blank">Ceren Gunes</a></h3>

      <p class="about-comic"><a href="/about">About this comic</a></p>


    </div>   

  </div>
  <div class="down">
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Downloads</p>
      </div>
    
    </div>
   <a href="#start"><i class="fa-solid fa-angle-down fa-bounce"></i></a>
</div> 
</section>
<!-- </section> -->


 {{ content }}

 <!--end wrapper-->

                